<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Twitter boostrap from CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Coin Test</h1>
            </div>
            <form action="/" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="submit" value="Submit" />
            </form>

            {% if coins|length > 0 %}
                <ul class="list-group">
                {% for coin in coins %}
                    <li class='coin list-group-item' ><span class="designation">{{coin.designation}}</span><span class="count badge">{{coin.count}}</span> </li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="lead">Enter an monetary amount above - for example £1.50</p>
            {% endif %}
            </div>
    </body>
</html>